apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-service
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: hello-service
  template:
    metadata:
      labels:
        app: hello-service
    spec:
      containers:
      - name: hello-service
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
        - containerPort: 8080
        env:
        - name: ENVIRONMENT
          value: "{{ .Values.env.ENVIRONMENT }}"
