apiVersion: v1
kind: Service
metadata:
  name: hello-service
spec:
  selector:
    app: hello-service
  ports:
  - name: http
    port: {{ .Values.service.port }}
    targetPort: 8080
  type: {{ .Values.service.type }}
